@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
/* 큐브 애니메이션 CSS - cube.css */
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-image: linear-gradient(to bottom, #a1f4e0, #ef95fb);
    height: 100vh;
    overflow: hidden;
    font-family: 'East Sea Dokdo', cursive;
}
.wrap{perspective: 60vh;position: fixed;height: 100vh;width: 100vw;overflow: hidden;}
:root{--boxwidth:150px;--boxheight:200px;--zsize:15vw;}
/* 작동버튼 */
.btngo{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    border-radius: 10px; 
    cursor: pointer;   
}
.btngo:hover{
    background-color: lime;
}
.ctt{height: 300vh;transform-style: preserve-3d;position: relative;}
.cube{position: absolute;width: var(--boxwidth);height: var(--boxheight);top: calc(50vh - var(--boxheight)/2);left: calc(50vw - var(--boxwidth)/2);transform: rotateY(0);transform-style: preserve-3d;transition:  .3s linear;}
.cube2{top: calc(150vh - var(--boxheight)/2);}
/* 3d setting
입체로 설정할 요소의 부모박스(혹 상위요소)에 아래와 같이 설정함
transform-style:preserve-3d; */
.cube span{position: absolute;width: 100%;height: 100%;opacity: 1;}
.cube span:nth-child(1){background: url(../labimg/imgs_moving/mv1.jpg)no-repeat center/cover;transform: translateZ(var(--zsize));}
.cube span:nth-child(2){background: url(../labimg/imgs_moving/mv2.jpg)no-repeat center/cover;transform:rotateY(calc(40deg*1)) translateZ(var(--zsize)) ;}
.cube span:nth-child(3){background: url(../labimg/imgs_moving/mv3.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*2)) translateZ(var(--zsize)) ;}
.cube span:nth-child(4){background: url(../labimg/imgs_moving/mv4.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*3)) translateZ(var(--zsize)) ;}
.cube span:nth-child(5){background: url(../labimg/imgs_moving/mv5.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*4)) translateZ(var(--zsize)) ;}
.cube span:nth-child(6){background: url(../labimg/imgs_moving/mv6.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*5)) translateZ(var(--zsize)) ;}
.cube span:nth-child(7){background: url(../labimg/imgs_moving/mv7.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*6)) translateZ(var(--zsize)) ;}
.cube span:nth-child(8){background: url(../labimg/imgs_moving/mv8.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*7)) translateZ(var(--zsize)) ;}
.cube span:nth-child(9){background: url(../labimg/imgs_moving/mv9.jpg)no-repeat center/cover ;transform:rotateY(calc(40deg*8)) translateZ(var(--zsize)) ;}
@keyframes cube {
    to{transform: rotateY(-330deg);}
    /* 
            x축 양의 방향으로 10도에서 출발
            양의 방향 360도+10도=370도
            음의 방향 -360도+10도=-350도
            ____________________________

            y축 양의 방향으로 30도에서 출발
            양의 방향 360도+30도=390도
            음의 방향 -360도+30도=-330도
        */
}
.rotate{animation: cube 20s linear  infinite  ;
    /* animation-play-state: paused; */
}
.rotate:hover{animation: cube 3s linear  infinite  ;animation-play-state: paused;}

.catinfo{
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) rotateX(360deg);
    width: 50vw;
    height: 20vh;
    background-color: rgb(255 255 255 / 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #00000089;
    overflow: hidden;
}
.catinfo.on{
    top: 5vh;
    transform: translateX(-50%) rotateX(0deg);
    transition: 0.5s ease-out;
}
.catinfo h2{
    position: absolute;
    width: 97%;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
    text-align: center;
    height: 35%;
    font-size: 6vh;
    color: goldenrod;
    text-shadow: 2px 2px 3px #000;
    backdrop-filter: blur(3px);
}
.catinfo p{
    padding: 2vh;
    margin: 0;
    height: 50%;
    padding-top: 7vh;
    font-size: 3vh;
    overflow: auto;
    color: #777;
}