@charset "utf-8";
@import url(common.css);
/* subpage common font style */
#cont{
    font-family: sans-serif;
}
.st{
    text-align: center;
    text-shadow: 2px 2px 2px red;
    font-family: serif;
    background: url(bear.jpg) no-repeat center/cover;
    /* background-image: url(bear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    padding: 20px;
    border-radius: 10px;
    /* outline: 1px solid; */
    /* not necessary but express the outline
    not affect to box-size
    outline:weight type color
    same as border including border-radius(둥근 모서리)
    mainly use for input window focus */
    box-shadow: inset 0 0 100px 5px black;
    /* box-shadow=setting shadow inside or outside of the box
    box-shadow: (inset) x y blur spread(shadow size) color;
    inset=inside shadow
    shadow sequence use=, */
    margin-bottom: 30px;
}
.prlogo img{
    height: 32px;
}
/* image has own ratio. touching both w and h makes it(=ratio) break */
.st1{
    background-image: url(dokdo.jpg);
}
.st4{
    background-image: url(bear.jpg);
}
/* 부모요소를 써주면 우선순위 올라감 */
.st5{
    background-image: url(mimi.jpg);
    background-position-y: -100px;
}
.at{
    font-size: 30px;
}
.af{
    margin-bottom: 30px;
}
.af img{
    width: 100%;
}
.af figcaption{
    font-size: 15px;
    text-align: center;
    color: #767676;
}
.ac p{
    font-size: 17px;
    color: #303038;
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 1px;
}