@charset "utf-8";
@import url(common.css);
.st{
    text-align: center;
    text-shadow: 2px 2px 2px red;
    font-family: serif;
    background: url(bear.jpg) no-repeat center/cover;
    /* background-image: url(bear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    padding: 20px;
    outline: 1px solid;
}
.st4{
    background-image: url(bear.jpg);
}
/* 부모요소를 써주면 우선순위 올라감 */
.st5{
    background-image: url(mimi.jpg);
    background-position-y: -100px;
}