@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/
@import url(./reset.css);
body::before{content: '';position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: -1; background: url(../ab_img/space.jpg) no-repeat fixed center/cover;}
html{font-size: 10px;scroll-behavior: smooth;overflow: hidden;}
body{color: white;}
/* body *{outline: 2px dashed yellow;} */
/* ios bg setting(fixed) */
.page{height: 100vh;position: relative;}
.character{position: relative;}
.tit{text-align: center;font-size: 4rem;}
.t1{font-family: "Monoton", cursive;font-weight: normal;animation: avgs 5s linear 5.5s infinite  ;transform: translateX(63%) translateY(100%);}
.t1::before{content: '🦌';}
.t1::after{content: '🛷';}
.t1 span:nth-of-type(odd){color: red;}
.t1 span:nth-of-type(even){color: green;}
@keyframes avgs {
    to{transform: translateX(-63%) translateY(100%);}
}
.avengersbox{position: absolute;width: 300px;height: 400px;top: calc(50% - 400px/2);left: calc(50% - 300px/2);background: url(../ab_img/ab0.jpg)no-repeat center/cover;border-radius: 50%;box-shadow: 0 0 50px 10px cyan,inset 0 0 30px lightgreen;transform: scale(0);transition:  2s ease-in-out;}
.avengersbox.on{transform: scale(1);}

.hero{position: absolute;width: 150px;height: 150px;top: calc(50% - 150px/2);left: calc(50% - 150px/2);transition:  1s ease-in-out 2s;opacity: 0;}
.avengersbox.on .hero{opacity: 1;transform: rotateX(720deg);}
.hero img{object-fit: cover;width: 100%;height: 100%;border-radius: 50%;box-shadow: 0 0 30px 10px lightgreen;}
/* 
        [ object-fit 속성 ]
        -> 이미지나 동영상을 박스에 맞출때
        옵션을 설정해 주는 속성
        1. fill : 설정값에 강제적용(기본값)
        2. contain : 박스에 모두 보임
        3. cover : 박스를 비율에 맞게 채움
            -> 빈틈없이 채우며 배경cover와
            유사한 효과를 준다! 
    */
.txt{position: absolute;top: 50%;right: 110%;width: 300px;font-size: 2rem;line-height: 1.3;background-color: #ffffff77;border-radius: 13px;text-shadow: 1px 1px 1px #000;
transform: translateY(20%);overflow: hidden;height: 0;transition:  .3s ease-in-out;}
.avengersbox.active .hero:hover .txt{height: 200px;transform: translateY(-50%);}

.txt>div{padding: 2rem;}
.txt.right{right: auto;left: 110%;}
.txt h3{font-size: 2.2rem;color: cyan;text-align: center;}
.avengersbox.on .hero:nth-child(1){transform: translate(-200%,-100%) rotateY(720deg);}
.avengersbox.on .hero:nth-child(2){transform: translate(-200%, 50%) rotateY(720deg);}
.avengersbox.on .hero:nth-child(3){transform: translate(0, 200%) rotateY(720deg);}
.avengersbox.on .hero:nth-child(4){transform: translate(200%, 50%) rotateY(720deg);}
.avengersbox.on .hero:nth-child(5){transform: translate(200%,-130%) rotateY(720deg);}
.down{position: absolute;bottom: 13px;right: 3px;font-size: 3rem;cursor: pointer;}
.trailer{position: relative;}
.t2{font-family: 'Single Day';}
.trailerbox{aspect-ratio: 1280/720;position: absolute;top: 50%;left: 50%;width: 640px;z-index: 33;transform: translate(-50%,-50%);}
.trailerbox iframe{width: 100%;height: 100%;}
.up{position: absolute;top: 13px;right: 3px;font-size: 3rem;cursor: pointer;}