@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/
@import url(./reset.css);
body::before{content: '';position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: -1; background: url(../ab_img/space.jpg) no-repeat fixed center/cover;}
html{font-size: 10px;}
body{color: white;}
body *{outline: 2px dashed yellow;}
/* ios bg setting(fixed) */
.page{height: 100vh;position: relative;}
.tit{text-align: center;font-size: 4rem;}
.avengersbox{position: absolute;width: 300px;height: 400px;top: calc(50% - 400px/2);left: calc(50% - 300px/2);background: url(../ab_img/ab0.jpg)no-repeat center/cover;border-radius: 50%;box-shadow: 0 0 50px 10px cyan,inset 0 0 30px lightgreen;}
.character{}