@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

html,body,h1,h2,h3,ul,ol{margin: 0;padding: 0;}
body{background: url(../images/bg.jpg) no-repeat fixed top/cover;}
body *{outline: 2px dashed yellow;}
.mainarea{overflow: hidden;}
.boxrobot{padding: 200px 0 50px;margin-top: 30px;}
.head{width: 250px;height: 250px;margin: 0 auto;background: url(../images/metal01.jpg) no-repeat center/cover;position: relative;}
.head div{position: absolute;}
.eye{width: 50px;height: 50px;background-repeat: no-repeat;background-size: 100% 100%;border-radius: 50%;border: 4px double #000;background-color: #fff;}
.eye1{background-image: url(../images/e1.jpg);top: 50px;left: 50px;}
.eye2{background-image: url(../images/e2.jpg);top: 50px;right: 50px;}
.nose{background: url(../images/nose.jpg) no-repeat center/cover;width: 50px;height: 50px;top: 100px;left: 100px;border-radius: 50%;}
.mouth{background: url(../images/mouth.png) no-repeat center/100% 100%;width: 150px;height: 80px;left: 50px;bottom: 10px;}
.ear{top: 100px;width: 50px;height: 50px;background: url(../images/metal02.jpg) no-repeat center/cover;}
.ear1{left: -50px;border-radius: 50% 0 0 50%;}
.ear2{right: -50px;border-radius: 0 50% 50% 0;}