@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

html,body,h1,h2,h3,ul,ol{margin: 0;padding: 0;}
body{background: url(../images/bg.jpg) no-repeat fixed top/cover;}
body *{outline: 2px dashed yellow;}
.metal1{background: url(../images/metal01.jpg) no-repeat center/cover;}
.metal2{background: url(../images/metal02.jpg) no-repeat center/cover;}
.mainarea{overflow: hidden;}
.boxrobot{padding: 200px 0 600px;margin-top: 30px;}
.head{width: 250px;height: 250px;margin: 0 auto;background: url(../images/metal01.jpg) no-repeat center/cover;position: relative;border-radius: 40%;z-index: 3;}
.head::before{content: '';display: block;position: absolute;top: -60px;left: -25px;width: 300px;height: 200px;background: url(../images/hair.png) no-repeat 0/100% 100%;}
.head:hover::before{content: '';display: block;position: absolute;top: -150px;left: -80px;width: 400px;height: 500px;background: url(../images/hair2.png) no-repeat 0/100% 100%;}
.head div{position: absolute;}
.eye{width: 50px;height: 50px;background-repeat: no-repeat;background-size: 100% 100%;border-radius: 50%;border: 4px double #000;background-color: #fff;}
.eye1{background-image: url(../images/e1.jpg);top: 50px;left: 50px;}
.eye2{background-image: url(../images/e2.jpg);top: 50px;right: 50px;}
.nose{background: url(../images/nose.jpg) no-repeat center/cover;width: 50px;height: 50px;top: 100px;left: 100px;border-radius: 50%;}
.mouth{background: url(../images/mouth.png) no-repeat center/100% 100%;width: 150px;height: 80px;left: 50px;bottom: 10px;}
.ear{top: 100px;width: 50px;height: 50px;background: url(../images/metal02.jpg) no-repeat center/cover;}
.ear1{left: -50px;border-radius: 50% 0 0 50%;}
.ear2{right: -50px;border-radius: 0 50% 50% 0;}
.body{width: 220px;height: 400px;position: relative;margin: 0 auto;margin-top: 50px;}
.body::before{content: '';display: block;position: absolute;width: 257px;height: 150px;background-image: linear-gradient(to top,darkblue,lightblue);top: 150px;left: -18px;border-radius: 30px 30px 20px 20px;}
.body::after{content: '';display: block;position: absolute;width: 257px;height: 100px;background-image: linear-gradient(to top,green,yellowgreen);bottom: 0;left: -18px;border-radius: 20px;}
.body div{position: absolute;}
.neck{width: 50px;height: 80px;left: calc(50% - 50px/2);top: -60px;border-radius: 0 0 40% 40%;}
.arm{width: 50px;height: 200px;border-radius: 20%;}
.arm span{position: absolute;width: 80%;height: 80%;left: 10%;top: 100%;border-radius: 20%;}
.arm span::after{content: '';display: block;position: absolute;top: 100%;left: calc(50% - 70px/2);width: 70px;height: 100px;background: url(../images/hand_left.png) no-repeat 0/100%; }
.arm1 span::after{margin-left: 6px;}
.arm2 span::after{background: url(../images/hand_right.png) no-repeat 0/100%;margin-left: -6px;}
.arm1{left: -70px;}
.arm2{right: -70px;}
.leg{width: 80px;height: 250px;top: 95%;border-radius: 20%;}
.leg span{position: absolute;width: 80%;height: 80%;left: 10%;top: 100%;border-radius: 20%;}
.leg span::before{content: '';display: block;position: absolute;top: 50%;left: -5%;width: 110%;height: 60%;background-image: linear-gradient(to right,pink,hotpink);border-top: 5px solid #000;}
.leg span::after{content: '';display: block;position: absolute;top: 100%;left: -20%;width: 120%;height: 80px;background-image: linear-gradient(to right,pink,hotpink);border-radius: 50% 50% 0 0;border: 5px solid #000;border-bottom: 10px solid black;}
.leg1{left: 10px;}
.leg2{right: 10px;}
.sd{width: 80px;height: 80px;top: -15px;}
.sd1{left: -85px;border-radius: 50% 0 0 50%;}
/* border-radius: 왼위 오위(&대각선) 오아 */
.sd2{right: -85px;border-radius: 0 50% 50% 0;}
/* center=calc(50% of parent - content width/2) */