@charset "utf-8";

/* Robot PJ 미디어쿼리 CSS - robot_media.css */
@media screen and (max-width:800px) {
    .desc{
        /* 다중열 개수 */
            column-count: 2;
        }
}
@media screen and (max-width:500px) {
    .desc{column-count: 1;}
    .btntop{bottom: 20px;right: 20px;width: 80px;height: 80px;}
    .btntop a{font: 22px/70px 'Black Ops One';}
}