@charset "utf-8";
/* 한국최신드라마 리스트 CSS - drama.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
/* 
    font-family: 'Hahmlet', serif;
*/

/* 초기화 */
html,body{
    margin: 0;
    padding: 0;
}
.tbl{font-family: 'Hahmlet';
color: #222;
border-collapse: collapse;}
#drama{font-size: 24px;
margin: 0 auto;
width: 1000px;max-width: 95%;}
#drama caption{font-size: 35px;
font-weight: bold;
letter-spacing: 5px;
padding: 50px 0 20px;}
/* table title default=center */
#drama td,#drama th{padding: 8px 10px;}
#drama tbody td{border-bottom: 1px solid #222;}
#drama tbody tr td:first-of-type{text-align: center;}
#drama th{border-top: 2px solid #000;
border-bottom: 2px solid #000;background-color: #ccc;}
#drama tbody tr:last-of-type td{border-bottom: 2px solid #000;}
#drama tbody tr:nth-of-type(even){background-color: #eee;}
#drama tfoot td{text-align: center;
padding: 45px 0;}
#drama a{color: #000;
text-decoration: none;}
#drama tbody a:hover{color: pink;
text-decoration: underline;
text-decoration-style: dashed;}
#drama tfoot a:hover{color: green;
text-decoration: overline;
text-decoration-style: wavy;}
.gubun{width: 1000px;max-width: 95%;margin-bottom: 200px;margin: 0 auto;overflow: hidden;}
#gubun{font-size: 20px;float: right;border: 1px solid #999;border-collapse: separate;border-spacing: 5px;}
#gubun td{padding: 5px;}
#gubun tr:first-of-type td:first-of-type{border-right: 1px dotted #999;}
#gubun tr+tr td{border-top: 4px dotted #999;}
/* border-spacing=gap between cells
border-spacing: 가로 세로
border-spacing: 양방향 */
/* factor#id=종속선택자 */
/* table
1.display is block
2.width=content;
3.word wrap if the box became smaller than content
(image->vertical scroll appear */
