@charset "utf-8";

/* 네비게이션 유형1 CSS - nav01.css */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic&display=swap');

html,
body,
h1 {
    margin: 0;
    padding: 0;
}
body{background-color: darkcyan;height: 200vh;}
h1.tit {
    text-align: center;
    padding: 20px;
}


/* ul,ol 초기화 : 3無 */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* a요소공통 */
a {
    color: #222;
    text-decoration: none;
}
.gnb{padding: 15px 0;border-top: 1px solid #ccc;border-BOTTOM: 1px solid #ccc;background-color: #fff;position: sticky;top: 0;z-index: 333;}
.gnb >ul{display: flex;justify-content: center;font-family: 'Nanum Gothic', sans-serif;white-space: nowrap;}
.gnb>ul>li::after{content: '';position: absolute;width: 100%;height: 70px;background-color: white;left: 0;margin-top: 16px;display: none;}
.gnb>ul>li:hover::after{display: block;border-bottom: 4px solid darkblue;}
.gnb >ul >li >a{display: block;padding: 10px 20px;font-size: 16px;font-weight: bold;position: relative;}
.gnb >ul >li >a:hover{color: hotpink;}
.gnb >ul >li:hover >a::after{width: 100%;height: 2px;background-color: hotpink;content: '';display: block;position: absolute;left: 0;top: 53px;}
.smenu{display: none;position: absolute;padding-top: 25px;z-index: 1;}
.gnb>ul>li:nth-child(4)~li .smenu{right: 30%;}
.gnb>ul>li:hover .smenu{display: block;}
.smenu ul{display: flex;}
.smenu ul li{padding: 10px 1px;}
.smenu a{display: block;font-size: 15px;padding: 5px 10px;}
.smenu a:hover{background-color: darkblue;font-size: 15px;color: white;font-weight: bold;}
/* https://web2002.co.kr/img/ver12/visual_img_gansam.jpg */
.cont{position: relative;aspect-ratio: 16/9;background: url(https://web2002.co.kr/img/ver12/visual_img_gansam.jpg) no-repeat center/cover;}