@charset "utf-8";

/* 네비게이션 유형1 CSS - nav01.css */
 /* 웹폰트 CDN */
 @import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR&display=swap");

 /* 
font-family: 'Maven Pro', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
*/

 /* 초기화 */
 html,
 body,
 h1,
 dl,
 dt,
 dd,
 ul,
 ol {
     margin: 0;
     padding: 0;
 }
 body {
     width: 100vw;
     height: 100vh;
     background: url(../images/nav03/main_intro_banner_1_ksr.jpg) no-repeat center/cover;
 }
 /* 공통 */
 a {
     color: #fff;
     text-decoration: none;
 }
 .inbox{max-width: 1600px;margin: 0 auto;}
.blind img:last-child{display: none;}
 /* 전체 타이틀 */
 .tit {
     position: fixed;
     top: 40vh;
     left: 5vw;
     font-size: 7vh;
     color: #fff;
 }
 .top{display: flex;justify-content: space-between;gap: 0 2vw;margin-top: 30px;position: fixed;top: 0;left: 0;right: 0;font-family: 'Maven Pro', sans-serif;}
 .logo img{height: 50px;margin-top: 23px;}
 .navpart{width: 70%;}
 .gnb{display: flex;justify-content: center;gap: 0 2vw;}
 .gnb dl:first-child img{transform: translateY(23px);}
 dt{line-height: 100px;text-align: center;font-size: 17px;}
 dd{text-align: center;font-size: 15px;line-height: 2;}
 .tlink{display: flex;margin-top: 30px;justify-content: center;gap: 0 1vw;}
 .tlink img{height: 30px;}
 