@charset "utf-8";
body{background-image: linear-gradient(to bottom,lightcoral,lightgreen);height: 100vh;}
.ibx{margin: 0 auto;max-width: 1200px;outline: 2px dashed yellow;padding: 0 13px;}
#toparea{background-color: black;}
/* .toparea{position: relative;} */
.topmenu{padding-top: 28px;}
.logobox{text-align: center;}
.gnb{display: flex;gap: 0 13px;line-height: 50px;}
/* .gnb >ul>li::before{content: '';position: absolute;width: 100%;height: 300px;background-color: white;left: 0;margin-top: 50px;border-bottom: 1px solid #ccc;} */
.gnb>ul>li> a{color: white;}
.smenu{position: absolute;outline: 2px dashed orangered;left: 0%;width: 100%;background-color: #fff;height: 0;overflow: hidden;transition:  .3s ease-in-out;}
/* .gnb>ul>li:hover .smenu{height: 300px;} */
/* .gnb>ul:first-child .smenu{display: block;} */
.stit{font-size: 20px;}
.smbx{display: flex;gap: 0 30px;max-width: 1200px;margin: 0 auto;}
.smbx h2{padding-right: 20px;border-right: 1px solid #ccc;}
.swrap{display: flex;flex-wrap: wrap;}
.smenu dl{width: 200px;}
.swrap dt{font-size: 13px;font-weight: bold;}
.swrap dd{font-size: 13px;line-height: 2;}