@charset "utf-8";
html,body,h1{margin: 0;padding: 0;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
h1.tit{text-align: center;padding: 20px;}
body{color: white;background: #0a134d url(./images/nav1bg.png) no-repeat fixed center/cover;}
ul,ol{list-style: none;margin: 0;padding: 0;}
ul::after,ol::after,.clb::after{content: '';display: block;clear: both;}
.inbox{max-width: 1650px;margin: 0 auto;outline: 2px dashed lime;}
.partbox{float: left;}
.logo{line-height: 80px;}
.logo img{width: min(133px,13vw);}
nav{padding: 0 min(100px,8vw);}
.gnb{max-width: 820px;outline: 3px dotted yellow;margin: 0 auto;}
.gnb>ul>li{float: left;position: relative;padding: 30px 0;}
.gnb a{color: white;text-decoration: none;font-size: min(18px,1.1vw);padding: 0 min(32px,1.3vw);display: block;}
.gnb>ul>li>a::after{content: '';display: block;width: 0;height: 2px;background-color: white;transition:  .2s;margin-left: 100%;margin-top: 5px;}
.gnb>ul>li:hover>a::after{width: 100%;margin-left: 0;transition: width .2s;margin-top: 5px;}
.mainarea{margin: 100px auto;max-width: 1000px;min-height: 600px;line-height: 600px;text-align: center;font-size: min(18px,1.3vw);border: 10px dashed lightgreen;border-radius: 30px;}
.submenu{position: absolute;width: min(200px,13vw);border-radius: 10px;background-color: #ffffff33;text-align: center;box-shadow: inset 0 0 3px lightblue;border: 0;padding: 0;left: 50%;transform: translateX(-50%);height: 0;overflow: hidden;transition:  .3s ease-in-out;top: 70px;}
/* 젠틀하기 때문에 탑으로 조정해도 되지만 크게 조정해야 하므로 마진탑으로도 조정한다 */
.gnb>ul>li.m5:hover .submenu{height: calc(30px*5);}
.gnb>ul>li.m1:hover .submenu{height: calc(30px);}
.gnb>ul>li.m3:hover .submenu{height: calc(30px*3);}
.submenu li{width: 100%;}
.submenu a{line-height: 50px;font-size: min(20px,2vw);display: block;width: 100%;height: 100%;padding: 0;line-height: 30px;font-size: min(13px,1.3vw);opacity: 0.3;}
.submenu a:hover{opacity: 1;transform: scale(1.1);font-weight: bold;}