@charset "utf-8";

/* 큐브 애니메이션 CSS - cube.css */
html,body{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #a1f4e0, #ef95fb);
    height: 100vh;
}
.wrap{perspective: 60vh;position: relative;height: 200vh;}
:root{--cubesize:300px;}
/* 작동버튼 */
.btngo{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    border-radius: 10px; 
    cursor: pointer;   
}
.btngo:hover{
    background-color: lime;
}
.ctt{height: 200vh;transform-style: preserve-3d;position: relative;}
.cube{position: absolute;width: var(--cubesize);height: var(--cubesize);top: calc(50vh - var(--cubesize)/2);left: calc(50vw - var(--cubesize)/2);transform: rotateY(30deg);transform-style: preserve-3d;}
.cube2{top: calc(150vh - var(--cubesize)/2);}
/* 3d setting
입체로 설정할 요소의 부모박스(혹 상위요소)에 아래와 같이 설정함
transform-style:preserve-3d; */
.cube span{position: absolute;width: 100%;height: 100%;opacity: 0.9;}
.cube span:nth-child(1){background: url(../images/seoulCity.jpg)no-repeat center/cover;transform: translateZ(calc(var(--cubesize)/2));}
.cube span:nth-child(2){background: url(../images/newyorkCity.jpg)no-repeat right/auto 105%;transform:rotateY(90deg) translateZ(calc(var(--cubesize)/2)) ;}
.cube span:nth-child(3){background: url(../images/parisCity.jpg)no-repeat center/cover ;transform:rotateY(180deg) translateZ(calc(var(--cubesize)/2)) ;}
.cube span:nth-child(4){background: url(../images/cityMain.jpg)no-repeat center/cover ;transform:rotateY(-90deg) translateZ(calc(var(--cubesize)/2)) ;}
.cube span:nth-child(5){background: url(../images/citys.jpg)no-repeat center/cover ;transform:rotateX(90deg) translateZ(calc(var(--cubesize)/2)) ;}
.cube span:nth-child(6){background: url(../images/London_city.jpg)no-repeat center/cover ;transform:rotateX(-90deg) translateZ(calc(var(--cubesize)/2)) ;}
@keyframes cube {
    to{transform: rotateY(-330deg);}
    /* 
            x축 양의 방향으로 10도에서 출발
            양의 방향 360도+10도=370도
            음의 방향 -360도+10도=-350도
            ____________________________

            y축 양의 방향으로 30도에서 출발
            양의 방향 360도+30도=390도
            음의 방향 -360도+30도=-330도
        */
}
.rotate{animation: cube 3s linear  infinite  ;animation-play-state: paused;}
.rotate.on{animation: cube 3s linear  infinite  ;animation-play-state: running;}