@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body * {outline: 1px dashed ghostwhite;} */

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header{height: 80px;background: url(../images/curtain.jpg)repeat-x;position: relative;z-index: 333;}
.tit{color: aquamarine;font-size: 40px;font-family: 'Jua', sans-serif;text-align: center;line-height: 80px;text-shadow: 0 0 20px aquamarine;
animation: title .3s ease-in  infinite alternate ;}
@keyframes title {
    to{text-shadow: 0 0 10px aquamarine;}
}
.gnb{position: absolute;right: 10px;bottom: 0;}
.gnb ul{display: flex;font-family: 'Jua';gap: 0 20px;}
.gnb>ul>li{position: relative;}
.gnb>ul>li:hover .smenu{display: block;}
.gnb >ul>li>a{font-size: 2rem;transition:  .3s;padding-bottom: 10px;display: inline-block;}
.gnb>ul>li:hover>a{text-shadow: 0 0 20px aquamarine;
    animation: title .3s ease-in  infinite alternate ;color: aquamarine;}
.smenu{position: absolute;width: 140px;background: url(../images/bg_smenu.png)no-repeat center/cover;padding: 10px;border-radius: 3px;left: 50%;transform: translateX(-50%);filter: drop-shadow(0 0 5px white);display: none;}
/* if use box-shadow, not for pseudo but for box
    use filter:drop-shadow */
.smenu::before{content: '';position: absolute;width: 10px;height: 10px;background-color: #373737;clip-path: polygon(50% 0,100% 100%,0 100%);left: 50%;transform: translateX(-50%);top: -10px;}
.smenu ol{border: 1px solid #ccc;padding: 10px;}
.smenu a{font-size: 1.5rem;line-height: 2;}
.smenu li:hover a{color: red;}
.smenu li:hover a::after{content: '🎬';float: right;}
.gnb li:nth-child(2) .smenu li:hover a::after{content: '🎫';float: right;}
.gnb li:nth-child(3) .smenu li:hover a::after{content: '🎪';float: right;}
.gnb li:nth-child(4) .smenu li:hover a::after{content: '🎉';float: right;}
.line{border-top: 1px solid #ccc;}
.cam{position: absolute;bottom: -5px;right: -60px;transform: rotate(30deg);}
.cam img{width: 50px;z-index: 2;position: relative;}
.gnb:hover .cam{transform: rotate(0);transition: transform .3s linear;}
.beam{width: 0px;height: 50px; position: absolute;right: -0px;bottom: 5px;background: url(../images/bim.png)no-repeat center/auto 100%;pointer-events: none;z-index: 1;transform: translateX(-30px);}
.gnb:hover .beam{width: 200px;right: -20px;transition: width .3s linear .3s,height .3s linear .3s;z-index: 1;animation: beam .3s linear  infinite alternate ;}
@keyframes beam {
    to{opacity: 0.3;}
}
/**************** 2.메인영역 ****************/
.main{background: url(../images/bg.jpg)no-repeat 0/100%;position: relative;aspect-ratio: 1200/788;}
.screen{position: absolute;background-color: black;top: 38%;left: 50.5%;width: 60%;height: 60%;transform: translate(-50%,-50%);}
.screen iframe{width: 100%;height: 100%;border: none;}
.postermn{position: absolute;bottom: 3%;left: 50%;transform: translateX(-50%);width: 900px;}
.postermn ul{display: flex;gap: 0 20px;perspective: 50vh;}
.postermn >ul >li{flex: 1;position: relative;overflow: hidden;transform: rotateX(30deg);transform-origin: bottom;transition:  .3s;}/*등분할*/
.postermn>ul>li:hover,
.postermn>ul>li.on{transform: rotateX(0);z-index: 1;outline: 1px solid aquamarine;}
.postermn>ul>li.on .mvinfo{top: 0;}
.postermn >ul >li img{width: 100%;}
.postermn >ul >li .mvinfo{position: absolute;top: 100%;width: 100%;height: 100%;text-align: center;background-color: #00000077;transition: top .5s ease-out;font-family: 'Cute Font', cursive;font-size: 2.5rem;}
.postermn>ul>li:hover .mvinfo{top: 0;}
ol{display: flex;flex-direction: column;justify-content: center;height: 100%;gap: 10% 0;}
.mvinfo li:first-child{color: aquamarine;}
/**************** 3.하단영역 ****************/
.footer{height: 100px;}
