@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body * {outline: 1px dashed ghostwhite;} */

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header{height: 80px;background: url(../images/curtain.jpg)repeat-x;position: relative;z-index: 333;}
.btnmap{width: 120px;height: 80px;outline: 2px dashed yellow;position: absolute;top: 0;left: 0;overflow: hidden;cursor: pointer;}
.btnmap::after{content: '';position: absolute;width: 200%;background: url(../images/street.jpg)repeat-x 0/50% 100%;height: 100%;animation: bg 2s linear  infinite  ;left: 0;}
@keyframes bg {
    to{left: -100%;}
}
.tit{color: aquamarine;font-size: 40px;font-family: 'Jua', sans-serif;text-align: center;line-height: 80px;text-shadow: 0 0 20px aquamarine;
animation: title .3s ease-in  infinite alternate ;}
@keyframes title {
    to{text-shadow: 0 0 10px aquamarine;}
}
.gnb{position: absolute;right: 10px;bottom: 0;}
.gnb ul{display: flex;font-family: 'Jua';gap: 0 20px;}
.gnb>ul>li{position: relative;}
.gnb>ul>li:hover .smenu{display: block;}
.gnb >ul>li>a{font-size: 2rem;transition:  .3s;padding-bottom: 10px;display: inline-block;}
.gnb>ul>li:hover>a{text-shadow: 0 0 20px aquamarine;
    animation: title .3s ease-in  infinite alternate ;color: aquamarine;}
.smenu{position: absolute;width: 140px;background: url(../images/bg_smenu.png)no-repeat center/cover;padding: 10px;border-radius: 3px;left: 50%;transform: translateX(-50%);filter: drop-shadow(0 0 5px white);display: none;}
/* if use box-shadow, not for pseudo but for box
    use filter:drop-shadow */
.smenu::before{content: '';position: absolute;width: 10px;height: 10px;background-color: #373737;clip-path: polygon(50% 0,100% 100%,0 100%);left: 50%;transform: translateX(-50%);top: -10px;}
.smenu ol{border: 1px solid #ccc;padding: 10px;}
.smenu a{font-size: 1.5rem;line-height: 2;}
.smenu li:hover a{color: red;}
.smenu li:hover a::after{content: '🎬';float: right;}
.gnb li:nth-child(2) .smenu li:hover a::after{content: '🎫';float: right;}
.gnb li:nth-child(3) .smenu li:hover a::after{content: '🎪';float: right;}
.gnb li:nth-child(4) .smenu li:hover a::after{content: '🎉';float: right;}
.line{border-top: 1px solid #ccc;}
.cam{position: absolute;bottom: -5px;right: -60px;transform: rotate(30deg);}
.cam img{width: 50px;z-index: 2;position: relative;}
.gnb:hover .cam{transform: rotate(0);transition: transform .3s linear;}
.beam{width: 200px;height: 100px; position: absolute;right: -0px;bottom: -18px;background: url(../images/bim.png)no-repeat center/auto 100%;pointer-events: none;z-index: 1;transform: translateX(-30px);opacity: 0;}
.gnb:hover .beam{width: 200px;right: 10px;transition: width .3s linear .3s,height .3s linear .3s;z-index: 1;animation: beam .03s linear .3s infinite alternate ;opacity: 0;}
@keyframes beam {
    to{opacity: 1;}
}
/**************** 2.메인영역 ****************/
.main{background: url(../images/bg.jpg)no-repeat 0/100%;position: relative;aspect-ratio: 1200/788;}
.screen{position: absolute;background-color: black;top: 38%;left: 50.5%;width: 60%;height: 60%;transform: translate(-50%,-50%);}
.screen iframe{width: 100%;height: 100%;border: none;}
.postermn{position: absolute;bottom: 3%;left: 50%;transform: translateX(-50%);width: 900px;}
.postermn ul{display: flex;gap: 0 20px;perspective: 50vh;}
.postermn >ul >li{flex: 1;position: relative;overflow: hidden;transform: rotateX(30deg);transform-origin: bottom;transition:  .3s;}/*등분할*/
.postermn>ul>li:hover,
.postermn>ul>li.on{transform: rotateX(0);z-index: 1;outline: 1px solid aquamarine;}
.postermn>ul>li.on .mvinfo{top: 0;}
.postermn >ul >li img{width: 100%;}
.postermn >ul >li .mvinfo{position: absolute;top: 100%;width: 100%;height: 100%;text-align: center;background-color: #00000077;transition: top .5s ease-out;font-family: 'Cute Font', cursive;font-size: 2.5rem;}
.postermn>ul>li:hover .mvinfo{top: 0;}
ol{display: flex;flex-direction: column;justify-content: center;height: 100%;gap: 10% 0;}
.mvinfo li:first-child{color: aquamarine;}
/**************** 3.하단영역 ****************/
.footer{height: 100px;display: flex;align-items: center;}
.snsb{margin-left: auto;}
address{color: white;font-size: 1.3rem;font-style: normal;line-height: 2;margin-left: 30px;}
.snsb ol{display: flex;flex-direction: row;gap: 10px;}
.snsb a{font-size: 3rem;}
.snsb li:nth-child(1):hover a{color: cornflowerblue;}
.snsb li:nth-child(2):hover a{color: lightskyblue;}
.snsb li:nth-child(3):hover a{color: lightcoral;}
.snsb li:nth-child(4):hover a{color: red;}


/* 구글맵 지도박스 */
.gmap{
    position: fixed;
    top: -50%;
    /* 처음에 top값으로 윗쪽에 숨김! */
    left: 50%;
    transform: translate(-50%, -50%);
    /* 정중앙이동 */

    width: 600px;
    height: 450px;
    background-color: #fff;
    border: 20px solid hotpink;
    border-radius: 10px;

    z-index: 999;
    /* 트랜지션: 속시이지 */
    transition: top .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
/* 구글맵에 클래스"on"적용시 등장하기 */
.gmap.on{
    top: 50%;
}
/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* 기본 포커스 아웃라인 제거 */
.cbtn:focus{
    outline: none;
}