@charset "utf-8";
/* 대상박스 */
body{overflow-y: scroll;}
#root {
    width: 700px;
    padding: 20px;
    border: 1px dashed darkblue;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}
/* 제목 */
.tit {
    color: orangered;
}
/* 내용박스 */
#root section {
    border: 4px double gray;
    width: 700px;
    height: 500px;
}
/* 내용박스 이미지 */
#root section img {
    width: 80%;
    border-radius: 20px;
}
button{cursor: pointer;height: calc(30px*2);}
/* 상품리스트박스 */
.gwrap {
    display: flex;
    /* 하위 ol박스를 옆으로 흐르게함 */
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 13px;
    gap: 10px 20px; /* 상하 좌우 사이간격 */
}
a{color: #000;text-decoration: none;}
.gwrap a:hover{
    transform: scale(1.1);
}
/* 개별리스트박스 */
.glist {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}
/* 상품이미지 */
.glist img {
    width: 120px;
}