@charset "utf-8";
#header{background-color: lightblue;}
#main{min-height: 800px;}
#footer{background-color: lightblue;}
.header .partbox{height: 120px;}
.headerlogo img{margin-top: 20px;width: 123px;}
.footer .partbox{height: 100px;}