@charset "utf-8";
#header{position: relative;z-index: 333;}
#main{min-height: 800px;}
img{cursor: pointer;}
#footer{padding-bottom: 70px;margin-top: 30px;border-top: 1px solid #000;padding-top: 10px;background: url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/footer_bg_tvn-pc.png);}
.header .partbox{height: 120px;}
.headerlogo img{margin-top: 30px;width: 123px;}
.topmenu ul{display: flex;justify-content: flex-end;padding: 13px 13px 3px;}
.topmenu li+li{margin-left: 12px;}
.topmenu a{font-size: 1.3rem;}
.gnb >ul{display: flex;justify-content: flex-end;}
.gnb >ul >li >a{font-size: 1.5rem;display: block;padding: 23px 13px;white-space: nowrap;font-weight: bold;}
.gnb >ul >li:hover >a{color: red;}
.gnb >ul >li:nth-child(3)~li:nth-child(-n+6) >a::after{content: '▼';display: inline-block;transform: scale(.5);}
.smenu{position: absolute;width: 100%;left: 0;background-color: #fff;overflow: hidden;height: 0;transition:  .3s ease-in-out;}
/* .gnb ul li:hover{} */
.smbx{max-width: 1000px;margin: 0 auto;}
.smbx ol{font-size: 1.3rem;display: flex;white-space: nowrap;line-height: 3;flex-wrap: wrap;}
.smbx ol li{flex-basis: 25%;overflow: hidden;text-overflow: ellipsis;}
.smbx ol li a{font-weight: bold;}
.smbx h2{font-size: 3.2rem;}
/* .footer .partbox{height: 100px;} */
.infolink ul{display: flex;gap: 0 20px;flex-wrap: wrap;}
.infolink ul li{font-size: 1.2rem;white-space: nowrap;line-height: 3;cursor: pointer;}
.comboarea{text-align: right;}
.comboarea select{width: 120px;height: 30px;border-radius: 10px;border: none;background-color: pink;font-size: 1.3rem;margin: 3px;}
.corpinfo{font-style: normal;font-size: 1.3rem;line-height: 2;}
.snsbox{position: relative;}
.sns{position: absolute;}
.sns ul{display: flex;gap: 0 20px;}
.sns ul li{border: 1px solid #000;width: 30px;text-align: center;border-radius: 50%;cursor: pointer;font-size: 2rem;}
/* 모바일 햄버거 버튼 */
.ham {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    transform: scaleX(1.5);
    cursor: pointer;

    /* 처음에 숨기기 */
    display: none;
}
/* 햄버거모양 가상요소넣기 */
.ham::before{
    content: '≡';
}