@charset "utf-8";
@import url(reset.css);
@import url(core.css);
@import url(common.css);
body *{outline: 2px dashed #ccc;}
body div *{outline-color: red;}
#banner{background: url(../imgs/bg_mainvisual.jpg) no-repeat center/ 100%;}
.catarea{position: relative;aspect-ratio: 2/1;}
.catbox{display: flex;flex-wrap: wrap;width: 100%;margin: 0 auto;position: absolute;bottom: 5%;justify-content: space-evenly;}
.catbox article{outline: 2px dashed blue;width: 20%;aspect-ratio: 2/1.3;position: relative;}
.catctt{height: 90%;display: flex;flex-direction: column;position: absolute;width: 100%;bottom: 0;transition: height .3s ease-in-out;}
.catbox article:hover .catctt{height: 180%;}
.catctt .part{flex: 1;}
.imgbox>img{width: 100%;}
.imgbox figcaption{text-align: center;margin-top: -23%;}
.imgbox figcaption img{width: 50%;}
.imgbox figcaption img:last-child{display: none;}
.catbox article:hover
.imgbox figcaption img:last-child{display: inline;}
.catbox article:hover
.imgbox figcaption img:first-child{display: none;}
.dkb img{position: absolute;left: 88%;top: 26%;}
.descbox{background: url(../imgs/eachBG.jpg)no-repeat bottom/cover;height: 50%;overflow: auto;border-radius: 13px;}
.descbox h3{font-family: 'Gugi';font-size: min(2.3rem,1.3vw);font-weight: normal;white-space: nowrap;padding: 13px 10px 3px;letter-spacing: -1px;}
.descbox p{font-family: 'Single Day','ZCOOL kuaile';font-size: min(2rem,1.3vw);padding: min(1vw,1.3rem);text-align: justify;}
#dokebimenu{position: sticky;top: 0;background-color: white;z-index: 333;}
.dokebimenu ul{display: flex;padding: 12px 0;}

.dokebimenu ul li a{font-size: 1.5rem;display: block;padding: 10px 23px;white-space: nowrap;font-weight: bold;}
.dokebimenu>ul>li:hover>a{color: red;}
.dokebimenu ul li.on a{background-color: rgb(255, 0, 0);border-radius: 30px;color: white;}
.besub{position: relative;}
.besub> a::after{content: '▼';display: inline-block;transform: scale(.5);}

.dkbsub{position: absolute;width: 100%;border: 1px solid red;border-radius: 20px;display: none;}
.dokebimenu li:hover .dkbsub{display: block;background-color: white;}
.dkbsub a{display: block;padding: 10px 13px;}
.dkbsub a:hover{color: red;}

/* #main{background-color: pink;} */
.banner .partbox{height: 530px;}
.main .grouppart1 .partbox{height: 455px;}
.main .grouppart2 .partbox{height: 298px;}
.gridbox ul{display: grid;grid-template-columns: repeat(4,1fr);grid-column-gap: 2rem;grid-row-gap: 2rem;}
.gridbox img{width: 100%;opacity: 0.7;}
.gridbox figcaption{font-size: 2rem;text-align: center;font-weight: bold;padding-top: 13px;}
.postbox ul{grid-template-rows: repeat(3,min(17vw,250px));}
/* .main .grouppart4 .partbox{height: 542px;} */
.main .grouppart5 .partbox{height: 376px;}